/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Roboto', sans-serif;
}

.container{
  display:grid;
  grid-template: 180px 1fr 1fr / 1fr 220px;
}

.sidebar{
  background-color:#1992d4;
  color:white;
  font-size:.9em;
  grid-row:1 / span 4;
  grid-column:1 / span 2;
}

header{
  display:grid;
  grid-template:80px 80px / 150px 150px 1.1fr 1fr;

}

.search {
  padding-top:20px;
  padding-left:50px;
  grid-row:1;
  grid-column: 1 / span 3;
}

.search i {
  padding-right:15px;
}

.searchbar {
  width:720px;
  border-radius:30px;
  outline-style:none;
  background-color:#e2e8f0;
  border:none;
  height:25px;

}

.header_intro{
  padding-left:50px;
  grid-row:2;
  grid-column: 1 / span 3;
  display:flex;
  
}



header img{
  width:60px;
  height:60px;
  object-fit:cover;
  border-radius:50%;
}

.header_intro img{
  align-self:center;
}



.intro_div{
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding-left:20px;
}

.bottom_right{
  grid-column:4;
  grid-row:2;
  display:grid;
  align-items:center;
  justify-items:start;
}

.bottom_right button{
  color:white;
  background-color:#1992d4;
  border:none;
  width:170%;
  padding:10px;
  border-radius:20px;
  font-weight:bold;
  font-size:.8em;
}

.bottom_right li{
  list-style:none;
}

.bottom_right ul{
  display:grid;
  grid-template:1fr/1fr 1fr 1fr;
  gap:60px;
  /* margin-right:100px; */
  

}

.new_btn{
  grid-column:1;
}

.upload_btn{
  grid-column:2;
}

.share_btn{
  grid-column:3;
}

.header_intro h1{
  font-size:1.5em;
  margin-top:5px;
}

.header_intro span{
  margin-top:20px;
  font-size:.7em;
  font-weight:bold;

}

.upper_right_div{
  padding-top:20px;
  grid-column:4/ 5;
  grid-row:1 / 1;
  display:grid;
  grid-template: 1fr / .1fr .15fr .25fr;
  place-items:center;
  justify-content:center;
  height:10%;
}

.upper_right_div img {
  width:40px;
  height:40px;

}

.upper_right_div span {
  font-weight:bold;
  font-size:.8em;
  align-self:top;
}



.sidebar a{
  font-weight:bold;
  color:white;
  text-decoration:none;
}

.sidebar li{
  list-style:none;
  padding-bottom:15px;
}

.top i, .bottom_dash i{
  font-size:.8em;
  margin-right:15px;
}

.bottom_dash {
  padding-top:20px;
}

.sidebar h2{
  display:inline-block;
  align-items:center;
}

.fa-brands{
  padding-left:30px;
  padding-right:5px;
  font-size:2em;
}

header {
  box-shadow: 10px 5px 5px rgba(0,0,0,.15);
  z-index:1;
}

.center {
  background-color:#e2e8f0;
  grid-row:2;
  grid-column:3;
  display:grid;
  padding-left:25px;
  grid-template: .000fr 00fr 1fr / 1fr 1fr 1fr;
  gap:30px;
}

.project1, .project2, .project3, .project4, .project5, .project6{
  background-color:white;
  border-radius:10px;
  border-left:10px solid #f0b429;
  height:250px;
  box-shadow: 2px 5px 5px rgba(0,0,0,.15);
  display:grid;
  grid-template:.1fr 1fr 1fr/3fr .5fr .5fr .5fr;
}


.project1 h4, .project2 h4, .project3 h4, .project4 h4, .project5 h4, .project6 h4 {
  padding-left:30px;
  padding-top:10px;
  margin-bottom:5px;
}


.project1 p, .project2 p, .project3 p, .project4 p, .project5 p, .project6 p {
  color:#636363;
  margin-top:0px;
  grid-row: 2;
  grid-column:1 / span 3;
  padding-left:30px;
}

.project1 .fa-star, .project2 .fa-star, .project3 .fa-star, .project4 .fa-star, .project5 .fa-star, .project6 .fa-star {
  color:#636363;
  grid-row:3;
  grid-column:2;
  align-self:center;
}

.project1 .fa-eye, .project2 .fa-eye, .project3 .fa-eye, .project4 .fa-eye, .project5 .fa-eye, .project6 .fa-eye {
  color:#636363;
  grid-row:3;
  grid-column:3;
  align-self:center;
}

.project1 .fa-share-nodes, .project2 .fa-share-nodes, .project3 .fa-share-nodes, .project4 .fa-share-nodes, .project5 .fa-share-nodes, .project6 .fa-share-nodes {
  color:#636363;
  grid-row:3;
  grid-column:4;
  align-self:center;
}


.project1 {
  grid-row:2;
}

.project2 {
  grid-row:2;
  grid-column:2;
}

.project3 {
  grid-row:3;
  grid-column:1;
}

.project4 {
  grid-row: 3;
  grid-column:2;
}

.project5{
  grid-row:4;
  grid-column:1;
}

.project6{
  grid-row:4;
  grid-column:2;
}

.right_side{
  grid-column:3;
  grid-row:1 / span 2;
  display:grid;
}

.center h3{
  margin-bottom:0px;
  padding-top:15px;
  /* padding-left: 25px; */
}


.announcements{
  /* grid-column: 3;
  grid-row:2; */

}

.trending img {
    width:60px;
    height:60px;
    object-fit:cover;
    border-radius:50%;
}
/***********************************
*******
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
